.TeamList {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: "Google Sans", sans-serif;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamListHeader {
  font-weight: 400;
  padding: 2rem 0;
}

.section {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

.section:last-child {
  border-bottom: none;
}
