:root {
  --nav-inactive-color: #707070;
  --heading-color: #3c4043;
  --text-color: #5f6368;
  --button-shadow-color: #b3b3b3;
}

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Google Sans', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Oxygen", sans-serif;
}
