.ShowcaseEvents {
  margin-top: 70px;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color);
}

.ShowcaseEvents .Container {
  max-width: 1170px;
  margin: 0 auto;
  font-family: "Google Sans", sans-serif;
}

.topContent {
  text-align: center;
  /* background: url(../../../assets//images/eventsBackground.png) center
    center/cover no-repeat; */

  position: relative;
  width: 200%;
  margin-left: -50%;
  padding-bottom: 5rem;
  height: 300px;
}

.eventsHeading {
  font-size: 48px;
  font-weight: 400;
  color: #202124;
  letter-spacing: normal;
  padding: 2rem 0 2rem 0;
}

.eventsInfo {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}
